@import '~rupture/rupture/index'
@import '../../helpers'

.package
  background: $boxGrey
  box-shadow: 0 3px 10px rgba(#333333, .25)
  margin-right: 15px
  padding: 23px 15px 60px 15px
  flex-grow: 1
  flex-basis: 0
  position: relative

  +above(1920px)
    padding: toVw(23px) toVw(15px) toVw(60px) toVw(15px)

  +between(641px, 768px)
    width: 48%
    flex-basis: auto
    margin-bottom: 15px

  +between(320px, 640px)
    margin-right: 0
    margin-bottom: 25px

  // When a package is popular it has different sizes and colors; all exceptions below here
  &.popular
    padding: 30px 15px 60px 15px

    +above(1920px)
      padding: toVw(30px) toVw(15px) toVw(60px) toVw(15px)

    .until
      margin-bottom: 45px

      +above(1920px)
        margin-bottom: toVw(45px)

    button
      background: $vividRed

    h3
      margin-bottom: 40px

      +above(1920px)
        margin-bottom: toVw(40px)

    .price
      margin-bottom: 45px

      +above(1920px)
        margin-bottom: toVw(45px)

    .toggle-area
      ul
        margin-bottom: 115px

        +above(1920px)
          margin-bottom: toVw(115px)


  // Different transition timeouts for each boxes
  for i in 1 .. 4
    &:nth-child({i})
      .toggle-area
        transition-delay unit(i*100, 'ms')

        +between(320px, 768px)
          transition-delay: 0ms

  +between(641px, 768px)
    &:nth-child(2)
      margin-right: 0

  &:nth-child(4)
    margin-right: 0

  // Handling collapse
  &.open
    .toggle-area
      max-height: 400px

  h3
    font-size: 20px
    color: $brandBlue
    margin-bottom: 25px
    margin-top: 0
    text-transform: uppercase
    text-align: center
    font-weight: 900

    +above(1920px)
      font-size: toVw(20px)
      margin-bottom: toVw(25px)

    +between(1024px, 1170px)
      font-size: 15px

    +between(641px, 768px)
      font-size: 20px

    small
      color: $vividRed
      display: block
      font-weight: normal
      margin-bottom: 10px

      +above(1920px)
        margin-bottom: toVw(10px)

  .price
    text-align: center
    font-weight: 900
    font-size: 60px
    margin-bottom: 25px
    color: $brandBlue

    +above(1920px)
      margin-bottom: toVw(25px)
      font-size: toVw(60px)

  .description
    color: #999999
    text-align: center
    font-size: 14px
    font-weight: 300
    margin-bottom: 10px

    +above(1920px)
      font-size: toVw(14px)
      margin-bottom: toVw(10px)

  .until
    font-size: 18px
    text-align: center
    color: $brandBlue
    margin-bottom: 25px

    +above(1920px)
      font-size: toVw(18px)
      margin-bottom: toVw(15px)

  .promo-input
    input
      width: 100%
      margin-top: 5px
      margin-bottom: 12px
      padding: 5px
      font-style: italic
      font-size: 14px
      color: #999999
      box-shadow: 0 0 3px 0 rgba(black, .2) inset
      border: 0

      +above(1920px)
        margin-top: toVw(5px)
        margin-bottom: toVw(12px)
        padding: toVw(5px)
        font-size: toVw(14px)
        box-shadow: 0 0 toVw(3px) 0 rgba(black, .2) inset

  .toggle-area
    max-height: 0
    overflow: hidden
    transition: all .5s ease
    will-change: auto

    ul
      margin-left: 35px
      padding-left: 0
      list-style: none
      margin-bottom: 95px

      +above(1920px)
        margin-bottom: toVw(95px)
        margin-left: toVw(35px)

      +between(320px, 640px)
        margin-left: 15px
        margin-bottom: 40px

      li
        margin-bottom: 25px
        display: flex
        font-size: 15px
        color: #2c292a

        +above(1920px)
          margin-bottom: toVw(25px)
          font-size: toVw(15px)

        +between(320px, 640px)
          margin-bottom: 15px

        &:before
          content: "•"
          display: block
          margin-right: 15px
          color: $brandBlue

          +above(1920px)
            margin-right: (15px)

  button
    position: absolute
    bottom: 0
    right: 0
    left: 0
    height: 60px
    line-height: @height
    width: 100%
    border: 0
    background: $brandBlue
    color: #ffffff
    text-transform: uppercase
    font-weight: 900
    border-radius: 0
    transition: all .5s ease
    will-change: auto

    +above(1920px)
      height: toVw(60px)
      font-size: toVw(15px)

    &:hover
      transform: scale(1.025)
      z-index: 1
      box-shadow: 0 3px 10px rgba(#333333, .25)
