@import '~rupture/rupture/index'
@import '../../helpers'

.ticket-selector
  display: flex
  justify-content: center
  align-items: center
  background: $boxGrey
  box-shadow: 0 0 8px rgba(#333333, .3)

  ul
    list-style: none
    margin: 0
    padding: 0
    display: flex
    justify-content: center
    align-items: center

    li
      &.active
        a
          color: $brandBlue
          font-weight: bold

          &:after
            top: 100%
            left: 50%
            border: solid transparent
            content: " "
            height: 0
            width: 0
            position: absolute
            pointer-events: none
            border-color: rgba(136, 183, 213, 0)
            border-top-color: $boxGrey
            border-width: 15px
            margin-left: -15px
            transform-origin: 0 0
            transform: rotate(-45deg)
            box-shadow: -2px 3px 3px 0px rgba(#333333 ,0.1)
            background: $boxGrey

            +between(320px, 640px)
              border-width: 10px
              margin-left: -10px

            +above(1920px)
              border-width: toVw(15px)
              margin-left: toVw(-15px)


      &:not(.active)
        a
          &:hover
            transform: translate(0, 3px)

      a
        padding: 35px 45px
        text-transform: uppercase
        font-size: 18px
        color: #a6a6a6
        text-decoration: none
        display: flex
        align-items: center
        position: relative
        transition: all .5s ease
        will-change: auto

        +above(1920px)
          padding: toVw(35px) toVw(45px)
          font-size: toVw(18px)

        +between(320px, 640px)
          flex-direction: column
          justify-content: center
          padding: 15px
          text-align: center
          font-size: 10px

        +between(641px, 768px)
          padding: 20px
          font-size: 15px

        img
          margin-right: 5px
          
          +above(1920px)
            margin-right: toVw(5px)

          +between(320px, 640px)
            margin-right: 0
            margin-bottom: 10px