@import '~rupture/rupture/index'
@import '../../helpers'

.timeline
  margin: 70px 0 65px 0

  +above(1920px)
    margin: toVw(70px) 0 toVw(65px) 0

  +between(320px, 640px)
    margin: 30px 0

  ul
    display: flex
    list-style: none
    margin: 0
    padding: 0
    justify-content: center
    align-items: center
    width: 100%

    +between(320px, 640px)
      flex-direction: column

    li
      // Exceptions & overrides
      &:nth-child(1)
      &:nth-child(3)
        a
          &:after
            content: none

      &.hilight
        a
          color: $brandBlue
          font-weight: 600
          padding: 0 25px

          +above(1920px)
            padding: 0 toVw(25px)

          +between(320px, 640px)
            margin: 15px 0

          &:after
          &:before
            font-size: 25px
            top: 50%
            transform: translate(0, -50%)

            +above(1920px)
              font-size: toVw(25px)

            +between(641px, 768px)
              font-size: 18px

            +between(320px, 640px)
              content: none

          &:before
            position: absolute
            content: '/'
            right: 0

            +between(320px, 640px)
              content: none

      // Common rules
      a
        display: flex
        justify-content: center
        align-items: center
        text-decoration: none
        text-transform: uppercase
        color: $timelineLinkColor
        font-weight: 300
        font-size: 18px
        padding: 0 15px
        position: relative

        +above(1920px)
          padding: 0 toVw(15px)
          font-size: toVw(18px)

        +between(641px, 768px)
          font-size: 14px
          padding: 0 10px

        &:after
          content: '/'
          position: absolute

          +between(320px, 640px)
            content: none

        &:after
          left: 0

        img
          margin-left: 10px

          +above(1920px)
            margin-left: toVw(10px)

        small
          font-weight: bold
          color: #ffffff
          background: $timelineLinkColor
          padding: 3px
          margin-left: 5px

          +above(1920px)
            padding: toVw(3px)
            margin-left: toVw(5px)
