@import '~rupture/rupture/index'
@import '../../helpers'

.partners
  text-align: center
  margin-top: 145px

  +above(1920px)
    margin-top: toVw(145px)

  h4
    text-transform: uppercase
    font-weight: 300
    margin-top: 0
    margin-bottom: 45px
    color: #cccccc
    font-size: 18px

    +above(1920px)
      font-size: toVw(18px)
      margin-bottom: toVw(45px)

  ul
    margin: 0
    padding: 0
    list-style: none
    display: flex
    justify-content: center
    align-items: center

    +between(320px, 640px)
      flex-wrap: wrap
      justify-content: space-around

    li
      margin-right: 35px

      +above(1920px)
        margin-right: toVw(35px)

      +between(320px, 640px)
        margin-right: 0
        margin-bottom: 25px

      &:last-of-type
        margin-right: 0