@import '~rupture/rupture/index.styl'

.partners
  text-align: center
  margin-top: 145px

  h4
    text-transform: uppercase
    font-weight: 300
    margin-top: 0
    margin-bottom: 45px
    color: #cccccc
    font-size: 18px

  ul
    margin: 0
    padding: 0
    list-style: none
    display: flex
    justify-content: center
    align-items: center

    +between(320px, 640px)
      flex-wrap: wrap
      justify-content: space-around

    li
      margin-right: 35px

      +between(320px, 640px)
        margin-right: 0
        margin-bottom: 25px

      &:last-of-type
        margin-right: 0