.partners
  text-align: center
  margin-top: 145px

  h4
    text-transform: uppercase
    font-weight: 300
    margin-top: 0
    margin-bottom: 45px
    color: #cccccc
    font-size: 18px

  ul
    margin: 0
    padding: 0
    list-style: none
    display: flex
    justify-content: center
    align-items: center

    li
      margin-right: 35px

      &:last-of-type
        margin-right: 0