/**
 * I tried to keep the less is size of the app as possible.
 * So i only loaded just normalize, and that webfont
 * To make easier work with the media queries i using a lib called "rupture"
 * this is just a dev only lib.
 */
@import '~normalize.css/normalize.css'
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900')

*
  box-sizing: border-box

.App
  font-family: 'Roboto', sans-serif